<div id="dor"  >
  <app-navbar ></app-navbar>
  <router-outlet  ></router-outlet>
  <app-main  *ngIf = "!this.router.url.includes('search') && !this.router.url.includes('coins')"></app-main>
  
  
  
  <div class="container animate__animated animate__backInDown"  >
    <div class="row" style="display: flex; align-items: center; justify-content: center;">

      <h3 class="text-center" style="color: white;">Sign Up Now & Get 5% Discount!</h3>
    </div>
    <a href="https://www.binance.com/en/register?ref=16529953">
      
      <img  class="img-fluid" src="../../../assets/banner.jpg" alt="" width="100%" height="10%" >
    </a>
  </div>


<div class="containers">

  <div class="container">
  <br>
  <br>
  <br>

   <div class="row mb-5 text-center animate__animated animate__backInDown">
    <div class="col-md ">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">MrDOR22</h2>
    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">

    </ul>
    </div>
    </div>
    <div class="col-md text-center ">
    <div class="ftco-footer-widget mb-4 ml-md-5">
    <h2 class="ftco-heading-2">mrdor22@gmail.com</h2>
    <ul class="list-unstyled">


    </ul>
    </div>
    </div>
    <div class="col-md-4">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Haifa,Israel</h2>
    <div class="d-flex">


    </div>
    </div>
    </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="font-size: 0.8em;">
        <p>
          Copyright ©2020 All rights reserved | This site is made with <span style="font-size: 1rem; color: red;">♥ </span>  by D.Y


      <p>
  <br>
  <br>
  <br>

      </p>
      </div>
      </div>
    </div>
  </div>
</div>
