/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(68, 47, 20);
    background-image: url('./assets/fakurian-design-d4lv5slqeqY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 131vh;
    overflow-x: hidden;
}